* {
    margin: 0px;
    margin-top: 10px;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: center;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #021024;
    background-size: cover;
}


.header{
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: flex;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    
}

.logo {
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #5483b3;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}



/* mexe na classe geral da parte login e texto */

.conteudo {
    max-width: 600px; /* Define uma largura máxima para o conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo na página */
    margin-top: 60px;
    padding: 20px; /* Adiciona espaçamento interno */
    width: 400px;
    padding: 20px 30px;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.3);

}

.conteudo .texto {
    color: #5483b3;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}

.conteudo .form-data {
    display: flex;
    flex-direction: column;

}

.conteudo .form-data .linhas {
    margin: 15px 0;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.conteudo .form-data .linhas label {
    color: #ccc;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    transition: 0.15s;
    transform: translateY(-50%);
}

.conteudo .form-data .linhas input {
    width: 100%;
    height: 40px;
    border: none;
    color: #ccc;
    font-size: 16px;
    background: transparent;
}

.conteudo .form-data .linhas input:focus~label {
    top: 10px;
    font-size: 14px;
    transform: translateY(-120%);
}

/* mexe na parte dos links em baixo do locais de login */

.conteudo .lembrar {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;

}

.conteudo .lembrar .divs {
    display: flex;
    align-items: center;
}

.conteudo .lembrar label {
    color: #ccc;
    margin-right: 3px;

}

.conteudo .lembrar input {
    accent-color: #5483b3;
}

.conteudo .lembrar .divs a {
    color: #5483b3;
    transition: all .3s ease;
}

.conteudo .lembrar .divs a:hover {
    text-decoration: underline;
}

.conteudo .botao {
    margin: 15px 0;
    display: flex;
    flex-direction: column;

}

.conteudo .botao button {
    border: none;
    padding: 7px 10px;
    color: #ccc;
    font-size: 17px;
    font-weight: 600;
    background: #5483b3;
    border-radius: 5px;
    cursor: pointer;
}

.conteudo .botao button:hover {
    background: #333;
}

.conteudo .link {
    color: #ccc;
}

.conteudo .link a {
    color: #5483b3;
    transition: all .3s ease;
}

.conteudo .link a:hover {
    text-decoration: underline;
}


/* Media query */


/* Estilos para dispositivos de tela pequena */
@media screen and (max-width: 600px) {
    .conteudo .linhas {
        flex-direction: column; /* Altera a direção do flexbox para vertical */
    }
}
